<p>Attention <%= @resource.email %>!</p>

<p>Your account has been locked due to too manyof unsuccessful sign in attempts.</p>

<p>To unlock your account, click the following link:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
